/* .product {
    height: 240px;
  }
  
  @media (min-width: 48rem) {
    .product {
      height: 300px;
    }
  }

  @media (min-width: 48rem) {
    .product {
      height: 300px;
    }
  }

  @media (min-width: 48rem) {
    .product {
      height: 300px;
    }
  } */