.slick-next, .slick-prev{
    color: black !important
}

.slick-next::before, .slick-prev::before{
    color: black !important
}

.bannerImage{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center top;
}

@media (min-width: 48rem){
    .bannerImage{
        height: 550px;
    }
}