.categorycontainer{
    width: 100%;
}

.catImageContainer{
    height: 280px;
}

.catImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

@media (min-width: 36rem){
    .catImageContainer{
        height: 400px;
    }
}

@media (min-width: 48rem){
    .catImageContainer{
        height: 520px;
    }
}

@media (min-width: 64rem){
    .categorycontainer{
        width: 48%;
    }
    
    .catImageContainer{
        height: 350px;
    }

}