/* .imageContainer{
    width: ;
    height: ;
} */

.newarrival {
  width: 97%;
  height: 240px;
}

.newarrival img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

@media (min-width: 48rem) {
  .newarrival {
    height: 300px;
  }
}
