.customstyle {
  height: calc(100vh - 422px);
}

.productimages {
  height: 330px;
}

@media (min-width: 481px) {
  .productimages {
    height: 440px;
  }
}

@media (min-width: 640px) {
    .productimages {
      height: 520px;
    }
  }

  @media (min-width: 768px) {
    .productimages {
      height: 465px;
    }
  }
